My name is isaac and I will be creating a custom dataset with multiple data types using the pandas DataFrames and different data structures.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta

First Ill set a random seed for reproducibility

In [2]:
random.seed(42)

Then Ill generate the data

In [9]:
#generate data
num_rows = 50

#integer columns
student_ids = [i for i in range(1000, 1000 + num_rows)]

#float column (between 0 and 100)
scores = [round(random.uniform(50,100), 2) for _ in range(num_rows)]

#string column (Major)
majors = random.choices(
    ['Computer Science', 'Mathematics', 'Physics', 'Engineering', 'Biology'], 
    k=num_rows
)

#date column (Random graduation year between 2024â€“2030)
graduation_years = [random.randint(2024, 2030) for _ in range(num_rows)]

#boolean column (Pass/Fail)
pass_fail = [score >= 60 for score in scores]

#combine everything into a dictionary
data = {
    'Student_ID': student_ids,
    'Score': scores,
    'Major': majors,
    'Graduation_Year': graduation_years,
    'Pass_Fail': pass_fail
}

Then we will convert to a pandas dataframe

In [10]:
df = pd.DataFrame(data)

   Student_ID  Score             Major  Graduation_Year  Pass_Fail
0        1000  61.97  Computer Science             2030       True
1        1001  62.04       Engineering             2025       True
2        1002  78.37       Engineering             2024       True
3        1003  53.94  Computer Science             2028      False
4        1004  86.60       Engineering             2024       True

I will now display the first and last 5 rows of the DataFrame

In [16]:
print("First 5 Rows")
display(df.head())
print("\nLast 5 Rows")
display(df.tail())

First 5 Rows

   Student_ID  Score             Major  Graduation_Year  Pass_Fail
0        1000  61.97  Computer Science             2030       True
1        1001  62.04       Engineering             2025       True
2        1002  78.37       Engineering             2024       True
3        1003  53.94  Computer Science             2028      False
4        1004  86.60       Engineering             2024       True

Last 5 Rows

    Student_ID  Score             Major  Graduation_Year  Pass_Fail
45        1045  54.72           Physics             2028      False
46        1046  82.95           Biology             2025       True
47        1047  67.71           Physics             2028       True
48        1048  70.56  Computer Science             2026       True
49        1049  93.19           Physics             2025       True

Then we will show column names and data types

In [17]:
print("Column Names and Data Types")
print(df.dtypes)

Column Names and Data Types
Student_ID           int64
Score              float64
Major               object
Graduation_Year      int64
Pass_Fail             bool
dtype: object

The the generation of descriptive statistics using describ() for numeric columns

In [18]:
print("Descriptive Statistics")
display(df.describe())

Descriptive Statistics

       Student_ID      Score  Graduation_Year
count    50.00000  50.000000        50.000000
mean   1024.50000  74.246600      2026.660000
std      14.57738  14.342672         1.901771
min    1000.00000  50.360000      2024.000000
25%    1012.25000  62.212500      2025.000000
50%    1024.50000  76.045000      2027.000000
75%    1036.75000  85.165000      2028.000000
max    1049.00000  98.900000      2030.000000

And finally we will find the number of unique values in a categorical column

In [19]:
print("Number of Unique Values in 'Major' Column")
print(df['Major'].nunique())

Number of Unique Values in 'Major' Column
5

Moving on to step 4 of the assignment the Column Challenge ooooh

In [21]:
#function to convert numeric score to letter grade
def get_letter_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >= 60:
        return 'D'
    else:
        return 'F'

#create a new computed column
df['Letter_Grade'] = df['Score'].apply(get_letter_grade)

#display the first few rows
print("DataFrame with New Column")
display(df.head())

#save the new DataFrame to a CSV file
output_filename = "student_dataset.csv"
df.to_csv(output_filename, index=False)

print(f"\nDataset successfully saved as '{output_filename}' with {len(df.columns)} columns.")

DataFrame with New Column

,Student_ID,Score,Major,Graduation_Year,Pass_Fail,Letter_Grade
0,1000,61.97,Computer Science,2030,True,D
1,1001,62.04,Engineering,2025,True,D
2,1002,78.37,Engineering,2024,True,C
3,1003,53.94,Computer Science,2028,False,F
4,1004,86.60,Engineering,2024,True,B

Dataset successfully saved as 'student_dataset.csv' with 6 columns.